//@import './reboot';
@import url('/fonts/fonts.css');


$primary-color-background: rgb(16, 19, 23);
$primary-font: 'Proza Libre', sans-serif;
$article-family: 'Chelsea Market', cursive;
$header-font: 'Overpass Mono', monospace;
$background: #0b0d0f;
$transparent-fill: rgba(31, 78, 120, 0.5);
$background-footer: rgba(31, 78, 120, 1);
$divider-color: rgb(146, 6, 1);
$SM: 375px;
$gold-background: #ffc655;
$media-player-controls-bg: #262a31;
$glow-primary-color: rgba(255, 0, 25, 0.7);
$glow-secondary-color: rgba(255, 0, 25, 0.2);

//GLOBAL VALUES AND SETTINGS

@mixin media-player-glow($primary-color, $secondary-color) {
    position:relative;
    box-shadow:0 1px 4px $primary-color, 0 0 40px $secondary-color inset;
  &:before, &:after
  {
    content:"";
    position:absolute;
    z-index:-1;
    box-shadow:0 0 20px $primary-color;
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    border-radius:100px / 10px;
  }
  &:after
  {
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
    -moz-transform:skew(8deg) rotate(3deg);
    -ms-transform:skew(8deg) rotate(3deg);
    -o-transform:skew(8deg) rotate(3deg);
    transform:skew(8deg) rotate(3deg);
  }
}


@mixin media-player-inner-glow() {
  box-shadow: inset 6px 1px 12px $glow-secondary-color;
}

$navbar-height: 72px;


@mixin transition($prop: all, $time: .4s, $curve: linear) {
  transition: $prop $time $curve;
}

html {
  box-sizing: border-box;
}

#root {
  width: 100vw;
  overflow-x: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: $header-font;
  width: 100vw;
  height: 100vh;
  background: url("/images/DcomposedBG.jpg") no-repeat fixed center;
  background-size: cover;
}

.sm {
  @media only screen and (max-width: $SM) {
    display: none;
  }
}

.lg {
  @media only screen and (max-width: $SM) {
    display: none;
  }
}

button, .button {
  background: $divider-color;
  padding: 5px;
  box-shadow: inset 12px 12px 10px $glow-secondary-color,
  inset 2px 2px 5px $glow-primary-color,
  2px -2px 5px #ffbccd;

  border-radius: 10px;
}

.header {
  font-family: $primary-font;
  color: white;
  font-size: 28px;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.center-ele {
  transform: translateX(-50%);
  left: 50%;
  position: relative;
}

.invisible {
  display: none !important;
}

.show-flex {
  display: flex !important;
  opacity: 1 !important;
}

.show-block {
  display: block !important;
  opacity: 1 !important;
}

#root .banner {
  position: fixed;
  left: 0;
  top: -120px;
  height: 100vh;
  @include transition(all, 1s)
}

.primary-layout {
  position: relative;
}

.splash {
  position: relative;
  background: rgba(0,0,0,0);
  background-size: contain;
  top: 0 + $navbar-height;
  width: 100vw;
  min-height: calc(100vh - 21px);
  display: flex;
  justify-content: center;
  font-family: $article-family;
  size: 2pc;
  color: $gold-background;
  .banner-arrow-box {
    position: absolute;
    bottom: 50px;
  }
}


input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

@keyframes levitate {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0%);
  }
}



@import '../components/containers/navbar/navbar.style';
@import '../components/controlled/about/about.style';
@import '../components/controlled/introduction/intro.style';
@import '../components/containers/footer/footer.style';
@import '../components/controlled/playlist/playlist.style';
//@import '/video/video.style';
@import '../components/containers/admin/admin.style';
@import '../components/containers/media-player/media-player.style';
@import '../components/controlled/contact/contact.style';
